.trip-it-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 16px;
    background: #ffffff;
    height: 100%;
    padding-right: 20px;
}

.trip-it-form label {
    font-weight: 600;
    margin-bottom: 4px;

}


.trip-it-form input{
    width: 100%;
    padding: 20px;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    font-size: 16px;
    background: #fcf7f7;
    outline: none;
}

.trip-it-form textarea {
    min-height: 100px;      /* altura mínima */
    resize: vertical;       /* deja al usuario agrandar/reducir hacia abajo */
    padding: 12px;
    font-size: 16px;
    width: 100%;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    background: #fcf7f7;
}


.trip-it-form input:focus,
.trip-it-form textarea:focus {
    outline: none;
    border-color: #ff3951;
}

.selected-day-it {
    background-color: #ff3951;
    color: white;
    border-radius: 90px;
}

.occupied-day-it{
    background-color: #ffe5e8;
    color: #ff3951;
    border-radius: 90px;
}

.selected-occupied-day-it {
    background-color: #ff3951;   /* rojo principal */
    color: white;
    border-radius: 90px;
    outline: 3px solid #ffb3bd;  /* borde rojo claro */
    outline-offset: 2px;         /* separación para que se note */
}
.trip-it-card {
    margin-bottom: 16px;
    padding: 20px;
    border-radius: 8px;
    background: white;
    box-sizing: border-box;
    box-shadow: 0 6px 20px rgba(12,13,14,0.06)
}

.trip-it-card label,
.trip-it-card .field label {
    display: block;
    margin-bottom: 6px;
    font-weight: 600;
    font-size: 16px;
    color: #333;

    padding-bottom: 10px;
}


/* small helper spacing */
.trip-it-form > .trip-it-card:last-child {
    margin-bottom: 20px;
}

