/* src/styles/header.css */
:root {
    --header-height: 80px;
    --gutter: 24px;
}

.app-header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
    background: white;


}

.app-header-left {
    display: flex;
    align-items: center;
    cursor: pointer;
    flex: 1;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.app-header-logo {
    width: 28px;
    height: 28px;
    margin-right: 8px;
}

.app-header-title {
    font-weight: 600;
    font-size: 18px;
    color: #e4455f;
}
/* derecha */
.app-header-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.app-header-links {
    display: flex;
    align-items: center;
    justify-content: center;
}
.app-header-center {
    flex: 2;
    display: flex;
    justify-content: center;
}
.nav-btn {
    background: none;
    border: none;
    font-size: 20px;
    font-weight: 500;
    color: #333;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    transition: color 0.2s, background 0.2s;
    padding: 8px 16px;
    height:80px;
    width: 180px;
}


.nav-btn:hover {
    color: #e4455f;
}

.nav-btn.active {
    color: white;
    background: #e4455f;
}

.nav-btn.active.trips {
    background: #ff647d;
}
