.sidebar {
    position: fixed;
    top: 0;
    left: -31.25rem; /* completamente fuera de la pantalla */
    width: 15.625rem;
    height: 100%;
    background: #ff3b58;
    color: white;
    padding: 1.25rem;
    transition: left 0.3s ease;
    z-index: 1000;
    overflow: hidden; /* evita que algo se vea mientras está cerrado */
}

.sidebar.open {
    left: 0; /* visible */
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 3.75rem 0 0 0; /* espacio para la flecha */
}

.sidebar li {
    margin: 1.25rem 0 ;
    font-size: 1.5625rem;
    cursor: pointer;
}

/* Botón de cierre (solo visible cuando open = true) */
.sidebar-close-btn {
    position: absolute;
    top: 0.625rem;
    right: 0.625rem;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
    transform: rotate(180deg); /* apunta hacia la derecha */
}
